.navList {
    display: flex;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
  }
  
  .navItem {
    float: left;
   
  }
  
  .navItem a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navItem a:hover {
    background-color: #111;
    color: #FFEAB5;
  }

  .active {
      background-color: #E4726C;
      margin-bottom: auto;
  }

  body {
      background-color: darkslategray;
      color: white;
  }

  .footerBox {
      background-color: darkgray;
      color: black;
      padding: 14px 5px;
      font-size: 24px;
      justify-content: left;
  }

  .countryList {
      display: flex;
      justify-content: space-around;
    }
    
    .country {
        flex-flow: row;
        margin: 25px;
  }
  .home {
      text-align: center;
      margin: auto;
      font-size: 75px;
  }

  div.country {
    width: 80%;
    background-color: darkslategray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  img {
      width: 100%;
      height: 250px;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }