.container {
display: flex;


}
.nepalList{
border-style: solid;
padding: 5px;


}
#landmarks{
    background-image: url(../images/nepal-images/everest2.jpg);
    background-size: cover;
    
 

}
#nepalCities{
    background-image: url(../images/nepal-images/nepalcity.jpg);
    background-size: cover;
}
#nepalCitizens{
    background-image: url(../images/nepal-images/bhudda.jpg);
    background-size: cover;
}
.nepalScenery{
display: block;
margin-left: auto;
margin-right: auto;
    width: 80%;
    image-rendering: -webkit-optimize-contrast;
}

