.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.country-box {
    justify-self: center;
}

logo {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}