.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logo {
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 250px;
    height: fill;
    mix-blend-mode: multiply;
}

li {
    list-style-type: none;
}

.country-box {
    display: flex;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav {
    background-color: darkgray;
}